@import "foundation.css";

#game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: 100px;
}

.square {
    border: 1px solid red;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: auto;
}

.hidden {
    display: none;
}
